@import "./border.scss";
@import "./colors.scss";

.coc-btn{
    @extend %coc-standard-border-radius;
}

//States

.coc-btn.coc-btn-primary{
	@extend %coc-primary-bg;
	@extend %coc-primary-border;
	@extend %coc-light-background-text;
}
.coc-btn.coc-btn-primary:hover{
	@extend %coc-light-primary-bg;
	@extend %coc-light-primary-border;
	@extend %coc-light-background-text;
}

.coc-btn.coc-btn-info{
	@extend %coc-info-bg;
	@extend %coc-info-border;
	@extend %coc-light-background-text;
}
.coc-btn.coc-btn-info:hover{
	@extend %coc-light-info-bg;
	@extend %coc-light-info-border;
	@extend %coc-light-background-text;
}

.coc-btn.coc-btn-error{
	@extend %coc-error-bg;
	@extend %coc-error-border;
	@extend %coc-light-background-text;
}
.coc-btn.coc-btn-error:hover{
	@extend %coc-light-error-bg;
	@extend %coc-light-error-border;
	@extend %coc-light-background-text;
}

.coc-btn.coc-btn-warning{
	@extend %coc-warning-bg;
	@extend %coc-warning-border;
	@extend %coc-light-background-text;
}
.coc-btn.coc-btn-warning:hover{
	@extend %coc-light-warning-bg;
	@extend %coc-light-warning-border;
	@extend %coc-light-background-text;
}
.coc-btn.coc-btn-default{
	@extend %coc-light-background-bg;
	@extend %coc-light-primary-border;
	@extend %coc-primary-text;
}
.coc-btn.coc-btn-default:hover{
	@extend %coc-background-bg;
	@extend %coc-primary-border;
	@extend %coc-primary-text;
}


.coc-btn-ghost.coc-btn.coc-btn-primary{
	@extend %coc-primary-border;
	background-color: transparent;
}
.coc-btn-ghost.coc-btn.coc-btn-primary:hover{
	@extend %coc-light-primary-border;
	@extend %coc-light-primary-bg;
	@extend %coc-white-text;
}

.coc-btn-ghost.coc-btn.coc-btn-info{
	@extend %coc-info-border;
	@extend %coc-info-text;
	background-color: transparent;
}
.coc-btn-ghost.coc-btn.coc-btn-info:hover{
	@extend %coc-light-info-bg;
	@extend %coc-light-info-border;
	@extend %coc-dark-info-text;
}

.coc-btn-ghost.coc-btn.coc-btn-error{
	@extend %coc-error-border;
	background-color: transparent;
}
.coc-btn-ghost.coc-btn.coc-btn-error:hover{
	@extend %coc-light-error-bg;
	@extend %coc-light-error-border;
	@extend %coc-white-text;
}

.coc-btn-ghost.coc-btn.coc-btn-warning{
	@extend %coc-warning-border;
	background-color: transparent;
}
.coc-btn-ghost.coc-btn.coc-btn-warning:hover{
	@extend %coc-light-warning-bg;
	@extend %coc-light-warning-border;
	@extend %coc-white-text;
}